// Base
$debug: false;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	background-repeat: no-repeat;
	/* projects that use icons. It doesn't affect much on most layouts I tried applying it on, as it only really comes up when inline or inline-block elements line up with each other on the same line. */
	vertical-align: middle;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
	@if ($debug == true) {
		outline: 1px solid red;
	}
}
html {
	scroll-behavior: smooth;
	/* defines 1 rem = 62.5% of browser default rem which is 16px
  this leads to 1 rem = 62.5% of 16px = 10px
  to could make every font and size with rem
  and this is for easy responsive */
	font-size: 62.5% !important;
	@include respond(big-desktop) {
		font-size: 75% !important; //want: 1rem = 12px, 12/16px(base) = 75%
	}
	@include respond(tab-land) {
		font-size: 56.25% !important; //want: 1rem = 9px, 9/16px(base) = 56.25%
	}
	@include respond(tab-port) {
		font-size: 53% !important; //want: 1rem = 8px, 8/16px(base) = 50%
	}
	// https://zellwk.com/blog/viewport-based-typography/
	// font-size: 118.75%;
	// line-height: 1.4;
	// @include media(min, 640) {
	//   font-size: 125%;
	//   line-height: 1.4;
	// }

	// @include media(min, 900) {
	//   font-size: 131.25%;
	// }

	// @include media(min, 1100) {
	//   font-size: 137.5%;
	// }

	// @include media(min, 1800) {
	//   font-size: 156.25%;
	// }

	// @include media(min, 2800) {
	//   font-size: 175%;
	// }
}

body {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	min-height: 100vh;
	// for printing firfox
	color-adjust: exact !important;
	// for printing chrome
	-webkit-print-color-adjust: exact !important;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-size: 1.6rem;
	line-height: 1.7;
	font-weight: 400;
	color: #343434;
	font-family: var(fontSecondary);
	// tweak to fix rightControls jump up when modal opens 😐
	&.modal-open {
		overflow: visible;
	}
}
%textWrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
	white-space: normal;
}
// When assigning fonts to the whole document, they won’t be applied to elements
input,
button,
select,
textarea {
	font-family: inherit;
	caret-color: var(radioChecked);
}

main {
	width: 100%;
	height: 100%;
}

ul li {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none !important;
	color: $main-gray;
	display: block;
	&:not([class]) {
		text-decoration-skip-ink: auto;
	}
	&:hover {
		color: $main-gray;
	}
	& > * {
		pointer-events: none;
	}
}

picture {
	display: block;
}

img {
	@extend %userselect;
	max-width: 100%;
	display: block;
	object-fit: cover;
}

button {
	@extend %appearance;
	@extend %userselect;
	cursor: pointer;
	background: transparent;
	border: none;
	// make icons and span inside btns
	// doesnt have events that make problem when using ev.target as button
	i,
	span {
		pointer-events: none;
	}
	&:focus {
		outline: none;
	}
}
// ::-webkit-scrollbar {
//   width: 12px;
// }

// ::-webkit-scrollbar-track {
//   width: 15px;
//   background: #f1f1f1;
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: rgba(64, 64, 64, 0.8);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }
// ::-webkit-scrollbar-thumb:hover {
//   background: rgba(64, 64, 64, 1);
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//   background: rgba(64, 64, 64, 0.4);
// }

::selection {
	color: var(secondary);
	background: var(radioChecked);
}

::placeholder {
	color: $main-gray;
	font-weight: 400 !important;
}

input[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

input[type='search']::-webkit-search-decoration {
	@extend %appearance;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font-family: inherit;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

// TURN OFF NUMBER INPUT SPINNERS
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
	margin: 0;
	@extend %appearance;
}
input[type='number'] {
	-moz-appearance: textfield;
}
// Placeholder for <select><option>choose...</option>
option[value=''][disabled],
option.placeholder {
	display: none;
}
mark {
	background-color: yellow;
	color: black;
}
@mixin disabled {
	cursor: not-allowed !important;
	pointer-events: none !important;
}

[disabled],
.disabled {
	@include disabled;
	color: #9c9c9c;
	opacity: 0.5;
}
[hidden] {
	display: none;
}
// Base end--------------------
