{% set title = "Details" %}
{% extends './parts/_layout.njk' %}
{% block body %}
<main class="main">
  <h1 class="main__header">Details</h1>
  <div class="wraper">
    <section class="section__details">
      <div class="details__card">
        <h2 class="details__kidName-wraper">
          <i class="icon icon-sm boy"></i>
          <span class="details__kidName" datakidname="Mohamed Ahmed">Mohamed Ahmed</span>
        </h2>
        <h2 class="details__parentNumber-wraper">
          <i class="icon icon-sm parent"></i>
          <span class="details__parentNumber" dataparentno="013123123212">013123123</span>
        </h2>
        <button class="btn btn-sm btn-lemon">EDIT</button>
      </div>

      <div class="details__customize-wraper">
        {% from "./cards/detailsCard.njk" import "detailsCard" %}
        {{detailsCard('1','Activity 1')}}
        {{detailsCard('2','Activity 2')}}
        {{detailsCard('3','Activity 3')}}
      </div>
    </section>
    <section class="section__summery">
      {% include "./parts/summeryColumn.njk" %}
      <button class="btn btn-red">End Time</button>
      <button class="btn btn-gray">Print Recepiet</button>
    </section>
  </div>
</main>
{% endblock %}
