.wraper {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 50px;
}
.section__details {
	flex: 2;
	.details {
		&__card {
			position: relative;
			width: 50%;
		}
		&__kidName-wraper {
		}
		&__parentNumber-wraper {
			color: #797979;
			font-size: 17px;
		}
		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			border: 2px solid #333;
			padding: 5px 10px;
			font-weight: 900;
		}

		&__customize {
			&-wraper {
				margin: 30px 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
			}
			&-card {
				text-align: center;
				&-image {
					margin: auto;
				}
				&-name {
					font-size: 18px;
					margin: 10px 0;
				}
				&-number-wraper {
					font-size: 30px;
				}
				&-number {
					display: inline-block;
					width: 70px;
				}
				&-number-btn-decrease,
				&-number-btn-increase {
					border-radius: 5px;
					padding: 0 14px;
					background: #eee;
					margin: 10px 0;
					font-size: 35px;
					transition: all 0.2s ease-in-out;
					&:hover {
						background: #ccc;
					}
				}
			}
		}
	}
}

.section__summery {
	display: flex;
	flex-direction: column;
	.summery {
		&__wraper {
			padding: 10px;
			min-width: 300px;
			min-height: 300px;
			margin-bottom: 10px;
			position: relative;
			border: 3px solid #333;
			border-radius: 5px;
		}
		&__logo {
			filter: grayscale(1);
			margin: auto;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		&__header {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
			padding: 20px 0;
			text-transform: uppercase;
		}
		// Orders
		&__order-wraper {
		}
		&__order {
			display: grid;
			grid-template-columns: 30px 1fr auto;
			&-number {
			}
			&-name {
			}
			&-dots {
			}
			&-price {
				text-align: right;
			}
		}

		// Total
		&__total-wraper {
			border-top: 1px dashed #333;
			padding: 5px 0;
			margin: 10px 0;
		}
		&__total {
			display: flex;
			justify-content: space-between;
			&-name {
			}
			&-dots {
			}
			&-price {
				text-align: right;
			}
		}

		// kid details

		// time
		&__time-wraper {
			margin: 15px 0 20px 0;
		}
	}
}

.btn {
	background: #333;
	color: #fff;
	padding: 10px 60px;
	font-size: 25px;
	border-radius: 7px;
	margin: 5px 0;
}
