.wraper {
	display: flex;
	padding: 25px 50px;
}
.section__details {
	flex: 2;
	.details {
		&__card {
			position: relative;
			width: 50%;
		}
		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			border: 2px solid #333;
			padding: 5px 10px;
			font-weight: 900;
		}

		&__customize {
			&-wraper {
				margin: 30px 0;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 20px;
			}
			&-card {
				text-align: center;
				&-image {
					margin: auto;
				}
				&-name {
					font-size: 18px;
					margin: 10px 0;
				}
				&-number-wraper {
					font-size: 30px;
				}
				&-number-btn-decrease,
				&-number-btn-increase {
					padding: 20px;
					background: #eee;
					margin: 10px 0;
				}
			}
		}
	}
}

.section__summery {
	display: flex;
	flex-direction: column;
	.summery {
		&__wraper {
			padding: 5px;
			min-width: 250px;
			min-height: 300px;
			border: 2px solid #333;
			margin-bottom: 10px;
		}
		&__header {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
			padding: 20px 0;
		}
		// Orders
		&__order-wraper {
		}
		&__order {
			display: grid;
			grid-template-columns: 30px 1fr 30px 60px;
			&-number {
			}
			&-name {
			}
			&-dots {
			}
			&-price {
				text-align: right;
			}
		}

		// Total
		&__total-wraper {
			border-top: 1px dashed #333;
			padding: 5px 0;
			margin: 30px 0;
		}
		&__total {
			display: grid;
			grid-template-columns: 50px 1fr 1fr;
			&-name {
			}
			&-dots {
			}
			&-price {
				text-align: right;
			}
		}

		// kid details

		// time
		&__time-wraper {
			margin: 20px 0 5px 0;
		}
	}
}

.btn {
	background: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 7px;
	margin: 5px 0;
}
