.main {
	width: 100%;
	height: 100%;
	&__header {
		text-align: center;
	}
}

.cards {
	padding: 25px 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 33px;
}

.card {
	border: 2px solid #333;
	padding: 20px 0;
	text-align: center;
	&__name,
	&__number-wraper {
		text-align: left;
		margin-left: 70px;
	}
	&__time {
		padding: 15px 0;
	}
	&__btn {
		background: #333;
		color: #fff;
		padding: 10px;
		width: 50%;
		margin: auto;
	}
}
