<div class="summery__wraper">
  <img class="summery__logo" src="./assets/images/logo.png" alt="logo" width="80">
  <p class="summery__header">Order Receipt</p>
  <div class="summery__kid-wraper">
    <p class="details__kidName-wraper">
      <i class="icon icon-sm boy"></i>
      <span class="details__kidName" datakidname="Mohamed Ahmed">Mohamed Ahmed</span>
    </p>
    <p class="details__parentNumber-wraper">
      <i class="icon icon-sm parent"></i>
      <span class="details__parentNumber" dataparentno="013123123212">013123123</span>
    </p>
  </div>
  <div class="summery__timing-wraper">
    <p class="summery__timing-time-wraper">
      <i class="icon icon-sm clock icon-gray"></i>
      <span class="summery__time" data-starttime="3:00pm" data-endtime="6:00pm">3:00pm - 6:00pm</span>
    </p>
    <p class="summery__timing-date-wraper">
      <i class="icon icon-sm calender icon-gray"></i>
      <span class="summery__date" data-endtime="25-12-2020">25-12-2020</span>
    </p>
  </div>
  <div class="summery__order-wraper">
    {% from "./_summeryOrder.njk" import "summeryOrder" %}
    {{summeryOrder('1', 'First Hour', '65')}}
    {{summeryOrder('2','Additional Hours','100')}}
    {{summeryOrder('1','Activity 2','40')}}
  </div>
  <div class="summery__total-wraper">
    <h3 class="summery__total">
      <span class="summery__total-name">Total</span>
      <span class="summery__total-price">205 EGP</span>
    </h3>
  </div>
</div>
