<div class="summery__wraper">
  <img class="summery__logo" src="./assets/images/logo.png" alt="logo" width="80">
  <p class="summery__header">Order Receite</p>
  <div class="summery__kid-wraper">
    <p class="details__kidName-wraper">
      <span>Kid Name:</span>
      <span class="details__kidName" datakidname="Mohamed Ahmed">Mohamed Ahmed</span>
    </p>
    <p class="details__parentNumber-wraper">
      <span>Parent No. :</span>
      <span class="details__parentNumber" dataparentno="013123123212">013123123212</span>
    </p>
  </div>
  <div class="summery__time-wraper">
    <p class="summery__time-start-wraper">
      <span>Start Time:</span>
      <span class="summery__time-start" data-starttime="3:00 pm">3:00 pm</span>
    </p>
    <p class="summery__time-end-wraper">
      <span>End Time:</span>
      <span class="summery__time-end" data-endtime="6:00 pm">6:00 pm</span>
    </p>
    <p class="summery__time-date-wraper">
      <span>Date:</span>
      <span class="summery__time-date" data-endtime="25-12-2020">25-12-2020</span>
    </p>
  </div>
  <div class="summery__order-wraper">
    {% from "./_summeryOrder.njk" import "summeryOrder" %}
    {{summeryOrder('1', 'First Hour', '65')}}
    {{summeryOrder('2','Additional Hours','100')}}
    {{summeryOrder('1','Activity 2','40')}}
  </div>
  <div class="summery__total-wraper">
    <h3 class="summery__total">
      <span class="summery__total-name">Total</span>
      <span class="summery__total-price">205 EGP</span>
    </h3>
  </div>
</div>
