<div class="summery__wraper">
  <p class="summery__header">Order Summery</p>

  <div class="summery__order-wraper">
    <h5 class="summery__order">
      <span class="summery__order-number">1x</span>
      <span class="summery__order-name">First Hour</span>
      <span class="summery__order-dots">....</span>
      <span class="summery__order-price">65 EGP</span>
    </h5>
    <h5 class="summery__order">
      <span class="summery__order-number">2x</span>
      <span class="summery__order-name">Additional Hours</span>
      <span class="summery__order-dots">....</span>
      <span class="summery__order-price">100 EGP</span>
    </h5>
    <h5 class="summery__order">
      <span class="summery__order-number">1x</span>
      <span class="summery__order-name">Activity 2</span>
      <span class="summery__order-dots">....</span>
      <span class="summery__order-price">40 EGP</span>
    </h5>
  </div>

  <div class="summery__total-wraper">
    <h3 class="summery__total">
      <span class="summery__total-name">Total</span>
      <span class="summery__total-dots">..................</span>
      <span class="summery__total-price">205 EGP</span>
    </h3>
  </div>

  <div class="summery__kid-wraper">
    <p class="details__kidName-wraper">
      <span>Kid Name:</span>
      <span class="details__kidName" datakidname="Mohamed Ahmed">Mohamed Ahmed</span>
    </p>
    <p class="details__parentNumber-wraper">
      <span>Parent No. :</span>
      <span class="details__parentNumber" dataparentno="013123123212">013123123212</span>
    </p>
  </div>

  <div class="summery__time-wraper">
    <p class="summery__time-start-wraper">
      <span>Start Time:</span>
      <span class="summery__time-start" data-starttime="3:00 pm">3:00 pm</span>
    </p>
    <p class="summery__time-end-wraper">
      <span>End Time:</span>
      <span class="summery__time-end" data-endtime="6:00 pm">6:00 pm</span>
    </p>
    <p class="summery__time-date-wraper">
      <span>Date:</span>
      <span class="summery__time-date" data-endtime="25-12-2020">25-12-2020</span>
    </p>
  </div>
</div>
